{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Expectations_Control{% endblock %}

{% block content %}

    <p>Here you are able to gain quick extra points that will affect your payoff. <br>
    <p>Please state how many points you expected each group member to take when you made your withdrawal decision. <br>
    <p>You get two additional points for each correct guess. <br>
        <! This is the statement for the control group >

           {% formfield player.expectations1C %}
           {% formfield player.expectations2C %}
    </p>

</div>
<p>{% next_button %}<br>
    {% endblock %}