{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Expectations
{% endblock %}

{% block content %}
<div id="main">
    <p><! This is the statement for the treatment group >
    <p>Here you are able to gain quick extra points that will affect your payoff. <br>
    <p>Please state how many points you expected each group member to take when you made your withdrawal decision. <br>
    <p>You get two additional points for each correct guess. <br>

            {% formfields %}
    </p>

</div>
    {% next_button %}

{% endblock %}
