{% extends "Endogen/Page.html" %}
{% load otree static %}

{% block title %}
    Belief
{% endblock %}

{% block content %}
    <br>
    <p>After your decision, we would like to know what you think: How much points are left in the pool?</p> <br>
    <p>Please select the amount of points that you belief are left after all players decided on how much they take. <br>
        As each player can take between 0 and 10 points, you can choose a whole number between 0 and 30.<br>
       {% formfield player.belief %}<br>
    </p>
<br>
<br>
<style>
    .button {
        background-color: #cc0000;
        border-color: #cc0000;
        color: white;
        text-align: center;
        border-radius: 2px;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;}
    .button:hover {
        background-color: #990000; color: white;}
    .button:active {
  background-color: #990000;
  transform: translateY(4px);
}

</style>
<button class="button button1">Next</button>

{% endblock %}
