{% extends "Endogen/Page.html" %}
{% load otree static %}

{% block title %}
    Belief
{% endblock %}

{% block content %}
    <br>
<p>After your decision, we would like to know what you think: <b>How many points are left in the pool?</b></p> <br>
    <p>Please select the amount of points that you believe are left after all players decided on how much they take. <br>
        As each player can take between 0 and 10 points, you can choose a range between 0 and 30.<br><br>
        If the correct answer is within a window of 2 points of your guess, you will earn an additional point.<br><br>
        <i>For Example, if the correct answer is 1 point below your guess, you receive the point. </i><br>
        <i>If the correct answer is 2 points above your guess, you receive the point.</i><br>
        <i>If the pool breaks down, you NOT will earn the additional point either way</i><br>

 <style>
    .col-form-label {
    font-size: 1.1rem;}
</style>
       {% formfield player.belief %}<br>
    </p>
<br>
   {% next_button %}
{% endblock %}
