{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Context
{% endblock %}

{% block content %}
<div id="main">
    <p>
      <br>


<! This is for the treatment group only>


        Your country is facing an <b>epidemic</b> at the moment. <br>
        This epidemic can be contained if the population takes appropriate private <b>measures</b>.<br>
        These measures contain for example: Stay at home, reduce your social contacts, keep distance to other people, wear a mask outside and
        be willing to be vaccinated.<br>
        The more measures are adhered to, the faster the epidemic will be under control again.
        Each person can decide whether to comply or not to comply with the measures.<br> <br>
        In the following experiment the number of <b>points</b> given express your willingness to stick to the measures.



    </p>
</div>

{% next_button %}

{% endblock %}
