{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Context
{% endblock %}

{% block content %}
<div id="main">
    <p>
      <br>


<! This is for the treatment group only>


        Your country is faced with an <b>epidemic</b> at the moment. <br>
        This epidemic can be contained by the population taking private <b>measures</b>.<br>
        For example: Stay at home, reduce your social contacts, keep distance to other people, wear a mask outside and
        be willing to be vaccinated.<br>
        Each person can decide weather or not to comply with the measures.<br> <br>
        In the following experiment these measures are symbolized by <b>balls</b>.



    </p>
</div>

{% next_button %}

{% endblock %}
