{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Give
{% endblock %}

{% block content %}
    <br>
<p>Now you make the real decision. This means you are now playing for <b>real money</b>.</p> <br>
    <p>You can put between 0 and {{ max }} balls into the pool. <br>
       {% formfield player.give %}</p>
    <br><br>
    On the next page, there will be a short waiting time until the other players have finished.<br>
    After filling in the following questionnaire you will receive your result.<br><br>
    {% next_button %}

{% endblock %}
