{% extends "Endogen/Page.html" %}
{% load otree static %}
{% block title %}
    Instructions
{% endblock %}
<! This is a html-comment>
<! The building blocks of our pages are HTML. You can find more info here: https://www.w3schools.com/html/html_intro.asp
p indicates a text, br is equal to enter and div is the main block >

{% block content %}
<div id="main">
    <p>

      <br>
            <b>How the game works</b> : <br>
                - you will play in a group of <b>{{ players }} players</b> <br>
                - there is a <b>pool of {{pool}} points</b> <br>
                - <b>a point is worth 30 cents</b> <br>
                - each player can take between 0 and  {{ max }} points from the pool<br>
                - the remaining points in the pool get multiplied by {{ factor }}
                and are distributed amongst all {{ players }} players equally<br><br>
                - the <b>pool has a {{base}}% chance to break down</b>. This chance increases by {{addition_per_take}} percent for every point that is taken from the pool. <br>
                - <b>if the pool breaks down</b>  you will <b>not</b> get any points from the game.<br><br>

<br>
            <b>Your tasks</b>:<br>
                - choose how many points you want to take from the pool<br>
                - try to guess the number of points remaining in the pool<br><br>
            <b>Your payoff if pool doesn't break down</b>:<br>
                - the amount you take from the pool + your share from the multiplied remaining points of the pool<br>
                - if you correctly guess the amount of points remaining in the pool you get 1 additional point.  <br><br>
               <br><br>


    </p>
</div>
   {% next_button %}

{% endblock %}
