{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Introduction
{% endblock %}

{% block content %}

<div id="main">
    <p>
      Thank you for participating. <br><br>
      If you read these rules carefully and choose wisely, you can earn more than $1.70 by participating in this task. <br>
        Your payment will consist of the <b>${{ base }} you receive for completion and the points that you earn</b>.
        For each point you earn during the task you will receive <b>a bonus of ${{ rate }}</b>.
      <br><br>
      Completing this task will take about 7 minutes, and it is important that you pay close attention during this time so that you do not spoil the task for you and the other participants.<br>
      After you are given the instructions, there comes the task. The task has three stages. <br>
      First, you take a small quiz about the game. It consists of two questions. <br>
      Then you are matched with two other participants. Here you are asked to make a real decision. <br>
      Finally, you are asked to fill out a short survey. <br><br>
      Note that only the decision part will affect your payment. It will consist of you withdrawal decision and your expectations about the other withdrawals. <br>



    </p>
</div>
    {% next_button %}



{% endblock %}