{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

<! We use the same questionnaire for control and treatment group>
{% block content %}
<div id="main">
    <p>
        Please answer the following questions truthfully.
        Your answers will remain anonymous.<br><br>



            You took {{take}} points. {{total_points_left}} points remained in the pool and increased to {{pool_mult}} points.<br>
            Since {{points_taken}} points were taken, the chance that the pool broke down was at {{tipping_point}}%.<br>
            {% if breakdown == 1 %}
                Unfortunately the pool broke down. <br><br>
                This means you earned {{payoff}}
            {%else%}
                Fortunately the pool did not break down. <br><br>
                This means your share is {{share}} points and you earned {{payoff}}
            {% endif %} <br><br>

        {%else%}
        <! This is the statement for the control group >
        You took {{take}} points. {{total_points_left}} points remained in the pool and increased to {{pool_mult}} points.<br><br>
        This means your share is {{share}} points and you earned {{payoff}}
        {% endif %}
        <br><br>
        Thank you for participating in this experiment. <br>
        You completion code is <b>{{ completion_code }}</b>
    </p>

</div>
{% endblock %}


