{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Survey{% endblock %}

{% block content %}
<div id="likert">
    <p>Now we would like to ask you a few questions about yourself.</p> <br>
    <p>Everything will be kept completely anonymous. <br>
        <p>{{ formfields }}</p>

    <p> I care about the environment. </p> </label>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="likert" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label>Strongly disagree</label>
      </li>
    </ul>

</div>
<p>{% next_button %}<br>
    {% endblock %}