{% extends "Endogen/Page.html" %}
{% load otree static %}

{% block title %}
    The real game starts NOW
{% endblock %}

{% block content %}
<p>The setup of the game stays the same but now <i>you</i> make the real decision.</p> <br>
    <p>You can take between 0 and {{ max }} points. <br>
        Remember that the <b>probability of a break down</b> of the pool starts at <b>{{base}}% </b> and increases
        by <b>1.0 %</b> per point taken from the pool <br>

  <style>
    .col-form-label {
    font-size: 1.1rem;}
</style>
       {% formfield player.take %}</p>




<br>
   {% next_button %}
{% endblock %}
