{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Task 2
{% endblock %}

{% block content %}
<div id="main">
    <p><!   Please answer <b>another</b> question:

            The pool has 30 points. <br>
            Imagine <b>you now take 5 points</b> from the pool and the other two players each take 5 points from the pool.
            There are 15 points left in the pool.

            {% formfield player.test_control2 %}
    </p>



</div>
    {% next_button %}

{% endblock %}
