{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Task 1
{% endblock %}

{% block content %}
<div id="main">
    <p><! This is the statement for Type A >
        This is the first task where you will be asked to answer a question on a fictional example.
      <br><br>


            The pool has 30 points. <br>
            Imagine you take 5 points from the pool and the other two players each take 5 points from the pool.
            There are 15 points left in the pool.<br><br>
            Remember that you are player <b>type A</b>. <br>

            {% formfield player.test_control %}

    </p>



</div>
    {% next_button %}

{% endblock %}
