{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Test 1
{% endblock %}
<! This is a html-comment>
<! The building blocks of our pages are HTML. You can find more info here: https://www.w3schools.com/html/html_intro.asp
p indicates a text, br is equal to enter and div is the main block >

{% block content %}
<div id="main">
    <p><! Questions for both groups >
        On this and the next page there will be two questions about the previously explained game.<br>
        These questions test whether you understood the instructions correctly. <br>
        The answers you give are not part of the game and will not influence your payout.
      <br><br>
            Question 1: <br><br>

            There are 0 balls in the pool. <br>
            Imagine you put 5 balls in the pool and the other two players each put 5 balls in the pool.
            There are 15 balls now in the pool.
            {% formfield player.test1 %}

</div>
    {% next_button %}

{% endblock %}
