{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Welcome
{% endblock %}

{% block content %}
<div id="main">
    <p>
      <br>

    Unfortunately, the points will only be doubled and get paid out if at least <b>2/3 of all points</b> are in the common pool. <br>
        If there are not enough points in the pool it will break down and you will loose the points you put in the pool.
        Your payoff will then be the amount of points you have kept.<br>
        The <b>more points</b> you get paid at the end, the <b>more money</b> you win.

</div>
    {% next_button %}
<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 10) {
                $('.otree-timer').show();
            }
        });
    });
</script>
{% endblock %}
