{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Instructions
{% endblock %}

{% block content %}
<div id="main">
    <p>
      <br>
      
        {% if treatment == 1 %}
            <! This is the statement for the treatment group: player3 >
            {% if id_in_group == 1 %}
            The instructions are as follows: <br><br>
            You are a group of {{ players }} players. <br>
            There is a pool of {{ pool }} points. Every player can take between 0 and  {{ max }} points from the pool. <br>
            After all players make a decision, the remaining points in the pool get multiplied by {{ factor }} and every player receives an equal share. <br><br>
            Your payoff will then be the amount you took plus your share from the pool.<br>

            Unfortunately, for every point that is taken from the pool, the pool's <b>probability to break down increases by {{ addition_per_take }}%</b>. <br>

            <b>In case of a breakdown</b>, players have either role A or role B.<br>
            - <u>Role A:</u> If the pool breaks down, your payoff will be 0 (2 players have this role)<br>
            - <u>Role B:</u> If the pool breaks down, you will only get the points you took from the pool. Therefore, you are less affected by the breakdown than the other players are. (1 player has this role)<br><br>

            <br>

        <b>You have role B.</b><br>
            Keep in mind, that the other players have a different role.<br>

            <br>

            div class="noteBoxes type1" style="display:flex; font-size: 14px">
        <div>
                <p><u>At some point of the experiment, you will be grouped, this can take up to 3 minutes.</u></p>
                <b>It is very important that you do not close your tab while being grouped.</b><br>
                Waiting on the group page without closing the tab is part of your task. The time spent there is considered in your payment.<br>
            </div>



            {%else%}

            The instructions are as follows: <br><br>
            You are a group of {{ players }} players. <br>
            There is a pool of {{ pool }} points. Every player can take between 0 and  {{ max }} points from the pool. <br>
            After all players make a decision, the remaining points in the pool get multiplied by {{ factor }} and every player receives an equal share. <br><br>
            Your payoff will then be the amount you took plus your share from the pool.<br>

            Unfortunately, for every point that is taken from the pool, the pool's <b>probability to collapse increases by {{ addition_per_take }}%</b>. <br>

            <b>In case of a breakdown</b>, players are either assigned role A or role B.<br>
            - <u>Role A:</u> If the pool breaks down, you will earn 0 points (2 players have this role)<br>
            - <u>Role B:</u> If the pool breaks down, you will only get the points you took from the pool. Therefore, you are less affected by the breakdown than the other players are. (1 player has this role)<br><br>

        <b>You have role A.</b><br>
            Keep in mind, that one of the other players has a different role.<br>

        <br>

            div class="noteBoxes type1" style="display:flex; font-size: 14px">
        <div>
                <p><u>At some point of the experiment, you will be grouped, this can take up to 3 minutes.</u></p>
                <b>It is very important that you do not close your tab while being grouped.</b><br>
                Waiting on the group page without closing the tab is part of your task. The time spent there is considered in your payment.<br>
            </div>


            {% endif %}
        {%else%}
           <! This is the statement for the control group >
            The instructions are as follows: <br><br>
            You are {{ players }} players. <br>
            There is a pool of {{ pool }} points. Every player can take between 0 and  {{ max }} points from the pool. <br>
            After all players make a decision, the remaining points in the pool get multiplied by {{ factor }} and every player receives an equal share. <br><br>
            Your payoff will then be the amount you took plus your share from the pool.<br>

            Unfortunately, for every point that is taken from the pool, the pool's <b>probability to collapse increases by {{ addition_per_take }}%</b>. <br>

            If the pool collapses, no one gets any points.

                    <br>

            <b>You have role B.</b><br>
                Keep in mind, that the other players have a different role.<br>

            <br>

            div class="noteBoxes type1" style="display:flex; font-size: 14px">
        <div>
                <p><u>At some point of the experiment, you will be grouped, this can take up to 3 minutes.</u></p>
                <b>It is very important that you do not close your tab while being grouped.</b><br>
                Waiting on the group page without closing the tab is part of your task. The time spent there is considered in your payment.<br>
            </div>

            <br>

        {% endif %}

</div>
    {% next_button %}

<style>

        .noteBoxes
{
	border: 1px solid;
  	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}

.type1
{
	border-color: #E76F51;
	background-color: rgba(231, 111, 81, 0.1);
}

</style>

{% endblock %}