{% extends "Endogen/Page.html" %}
{% load otree static %}
{% block title %}
    Welcome
<br>
{% endblock %}

<! This is a html-comment>
<! The building blocks of our pages are HTML. You can find more info here: https://www.w3schools.com/html/html_intro.asp
p indicates a text, br is equal to enter and div is the main block >


{% block content %}
<div id="main">
    <p>

      <br>
            Welcome to this study about decision-making. <br>
        <br>
            The study consists of an experiment and several short questionnaires, which will take about
            <b>15 minutes </b> in total. <br><br>
            The instructions are simple, and if you follow them carefully, you can earn a considerable amount of money. <br>
        <br>
            Throughout the task <b>you can collect points</b> and <b>after completion each point will be worth 30 cents</b><br>
            In addition to any earnings you might have in the task, <b>you will be paid $1 for completion</b>. <br><br>

            You will have about 1 minute to complete each page. Please stay within this limit to properly take part and receive the money.<br>
    </p>
</div>
   {% next_button %}

{% endblock %}
