{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Result
{% endblock %}

{% block content %}


<! Here we need an if statement, since the players in the treatment determines if he gets info of the pool breaking down or not.
        In this special case we have a nested loop. For those the syntax remains the same as a normal loop>


    <p>
        <! This is the statement for the treatment group >

            You took {{take}} points. {{total_points_left}} points remained in the pool and increased to {{pool_mult}} points.<br>
            Since {{points_taken}} points were taken, the chance that the pool broke down was at {{tipping_point}}%.<br>
            {% if breakdown == 1 %}
                Unfortunately, the pool broke down. <br><br>
                <b>This means you get {{payoff}} points.</b> <br>
                Remember that each point is worth $0.05.<br><br>


            {%else%}
                Fortunately, the pool did not break down. <br><br>
                <b>This means you get {{payoff}} points.</b> <br>
                Remember that each point is worth $0.05.<br><br>


            {% endif %} <br><br>

        <! This is the statement for the control group >

        <br><br>
        Thank you for participating in this experiment. Please use the completion code below to return your HIT.
        You will receive your payment once your HIT was approved. <br><br>
        You completion code is <b>{{ completion_code }}</b>
    </p>

{% endblock %}


