{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Task 1
{% endblock %}
<! This is a html-comment>
<! The building blocks of our pages are HTML. You can find more info here: https://www.w3schools.com/html/html_intro.asp
p indicates a text, br is equal to enter and div is the main block >

{% block content %}
<div id="main">
    <p><! This is the statement for the treatment group >
        This is the first task where you will be asked to answer two questions on a a fictional example.
      <br><br>
            Question 1: <br><br>

            The pool has 30 points. <br>
            Imagine you take 5 points from the pool and the other two players each take 5 points from the pool.
            There are 15 points left in the pool.
            {% formfield player.test1 %}

</div>
    {% next_button %}

{% endblock %}
