{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Question 2
{% endblock %}

{% block content %}
<div id="main">
    <p><! This is the statement for the treatment group >
        Please answer <b>another</b> question:

            The pool has 30 points. <br>
            Imagine you now take 5 points from the pool and the other two players each take 5 points from the pool.
            There are 15 points left in the pool.

            {% formfield player.test_control2 %}
    </p>



</div>
    {% next_button %}

{% endblock %}
