{% extends "Endogen/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
    <br>
    <p><b>Please rate the following characteristics</b>, again on a scale ranging from '<i>never</i>' to '<i>always</i>', according to how often you think these apply to you.
Please answer as honestly as you can and choose the option that seems the most accurate to you. <br>

<style>
    .col-form-label {
    font-size: 1.3rem;}
</style>
<br>
<br>
       {% formfield player.G11 %}<br>
        {% formfield player.G12 %}<br>
        {% formfield player.G13 %}<br>
        {% formfield player.G14 %}<br>
        {% formfield player.G15 %}<br>
        {% formfield player.G16 %}<br>
        {% formfield player.G17 %}<br>
        {% formfield player.G18 %}<br>
        {% formfield player.G19 %}<br>
        {% formfield player.G20 %}<br>

    </p>
<br>
   {% next_button %}
{% endblock %}
